{% extends "web/base.html" %} {% load static%} {% block contenido%}
<script>
    function ir() {
        location.href = '/registro_insumos/';
    }
</script>


<h1>Administración de Insumos</h1>

<div style="text-align: center; color: black">
    <h2>{{mensaje}}</h2>
</div>

<script>
    function eliminar(insumo) {
        var msg;
        var opcion = confirm("¿Desea Eliminar el Produto " + insumo + "?")
        if (opcion == true) {
            msg = "Insumo Elimado Correctamente";
            location.href = '/eliminar_insumo/' + insumo + '/';
        } else {
            msg = "Rechazo, NO se elimino el insumo";
        }
        alert(msg)
    }

    function actualizar(insumo) {
        location.href = '/buscar/' + insumo + '/';

    }
</script>


<div class=container>
    <h3> Listado de Insumos</h3>
    <input class="boton-admin" type="button" value="Ingresar Insumos" onclick="ir()">
    <table class="tabla-insumos">
        <tr class="titulo-tabla">
            <td class="t-nombre">Nombre</td>
            <td class="t-precio">Precio</td>
            <td class="t-desc">Descripción</td>
            <td class="t-stock">Stock</td>
            <td class="t-ope">Opciones</td>
        </tr>
        {% for i in lista_insumos %}
        <tr class="datos-tabla">
            <td>{{i.nombre}}</td>
            <td>{{i.precio}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.stock}}</td>
            <td>
                <input class="boton-eliminar" type="button" value="Eliminar" onclick="eliminar('{{i.nombre}}')">
                <input class="boton-modificar" type="button" value="Modificar" onclick="actualizar('{{i.nombre}}')">
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock contenido %}